<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <script>
        const successMessage = '[[${successMessage}]]';
        if (successMessage) alert(successMessage);
    </script>
</head>
<body>
<div th:include="common/header.html"></div>
<table>
    <tr>
        <th>고객번호</th>
        <th>고객이름</th>
        <th>고객성별</th>
        <th>고객나이</th>
        <th>카테고리번호</th>
        <th>거주평수</th>
        <th></th>
    </tr>

    <tr th:each="customer : ${customerList}">
    <td th:text="${customer.customerCode}"></td>
    <td th:text="${customer.customerName}"></td>
    <td th:text="${customer.customerGender}"></td>
    <td th:text="${customer.customerAge}"></td>
    <td th:text="${customer.categoryNo}"></td>
    <td th:text="${customer.roomCode}"></td>
    </tr>
</table>
</body>
</html>
